<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/admin_console.css') }}">
</head>
<body>
    <!-- Шапка -->
    <header>
        <div class="logo">

            <span>1С myLearnSpace</span>
        </div>
    </header>

    <!-- Меню -->
    <nav id="sidebar">
        <div class="sidebar-header">

        </div>
        <ul>
            <li><a href="/">Главная</a></li>
            <li><a href="/marks_console">Добавить оценки</a></li>
            <li><a href="/labs_console">Добавить лабораторные</a></li>
            <li><a href="/post_console">Добавить пост</a></li>
            <li><a href="/notes_console">Добавить заметки</a></li>
            <li><a href="/users_console">Добавить пользователя</a></li>
            <li><a href="/add_group">Добавить группу</a></li>
            <li><a href="/add_student_console">Добавить студента</a></li>
            <li><a href="/add_news">Добавить новость</a></li>
        </ul>
    </nav>

    <!-- Контент страницы -->
    <main>
        <h1>{% block mainTitle %} {% endblock %}</h1>
        <hr>
        {% block mainContent %} {% endblock %}
        <hr>
    </main>

    <!-- Подвал -->
    <footer>
        <p>&copy; 2024 1С myLearnSpace.</p>
    </footer>

    <script src="script.js"></script>
</body>
</html>